*{
    margin: 0px;
    padding:0px;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    height: 200px;
    width: 60%;
    background: rgb(9, 9, 104);
}

#form-movimiento{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color:aliceblue;
}

.caja{
    display: flex;
    margin: 7px 0px;
}

.caja > label{
    flex-basis: 105px;
}

.caja input{
    flex: 1;
    border-radius: 5px;
}

#opciones{
    display: flex;
    justify-content: center;
    align-items: center;
}

#opciones input{
    flex-basis: 40px;
    height: 20px;
}

button {
    margin-top: 10px;
    width: 48%;
    height: 25px;
    background: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
    color: black;
    font-weight: bold;
    border-radius: 5px;
    
}

#conceptos{
    margin-top: 15px;
    width: 70%;
}

thead tr th{
    font-size: 20px;
    color: black;
    margin: 25px 45px;
    padding: 10px 40px;
    border-bottom: 5px solid  rgb(9, 9, 104);
}

tbody tr td{ 
    padding: 10px 40px;
    border-bottom: 5px solid  rgb(9, 9, 104);
    font-size: 15px;
    margin: 20px 40px;
}

tfoot tr td{
    margin: 20px 40px;
    padding: 10px 40px;
    border-bottom: 5px solid  rgb(9, 9, 104);
    font-weight: bold;
}

.btn{
    width:80px
}